<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dissertation.airline.mapper.FlightMapper">
    <select id="getFlightById"  resultType="FlightBean">
        select * from flight
        where flightid = #{flightid}
	</select>

    <update id="bookSeat">
        update flight set seat_free = 1
        where flightid = #{flightId}
        and seat_number = #{seatNumber}
    </update>
</mapper>